<div class="cards-container">
  <mat-card class="free-plan-card">
    <mat-card-content>
      <h2 class="free-plan-title">Plan Free</h2>
      <p><span class="material-symbols-outlined icon-red">play_circle</span> 3 vídeos en total</p>
      <p><span class="check-icon">✔</span> Gestor de tareas</p>
      <p><span class="check-icon">✔</span> Asignar tareas (sólo una tarea simultánea)</p>
      <p><span class="material-symbols-outlined icon-red">close</span> Integración con Google Classroom</p>
      <p><span class="material-symbols-outlined icon-red">close</span> Generar PDF</p>
      <p><span class="material-symbols-outlined icon-red">close</span> Clonar vídeos</p>
      <p><span class="material-symbols-outlined icon-red">radio_button_checked</span> Grabaciones de pantalla de 10 minutos</p>
      <button mat-raised-button color="warn" class="card-button">CREAR CUENTA</button>    
    </mat-card-content>
  </mat-card>

  <mat-card class="school-plan-card">
    <mat-card-content>
      <h2 class="school-plan-title">Plan School</h2>
      <h3 class="consultar-title">Consultar</h3> 
        <p><span class="check-icon">✔</span> Asistente seguro de IA [+info de Bõxie] </p>
      <p><span class="check-icon">✔</span> Tareas autoevaluables con IA [+info]</p>
      <p><span class="check-icon">✔</span> Videos ilimitados</p>
      <p><span class="check-icon">✔</span> Gestor de tareas</p>
      <p><span class="check-icon">✔</span> Google Classroom</p>
      <p><span class="check-icon">✔</span> Generar PDF</p>
      <p><span class="check-icon">✔</span> Clonar vídeos</p>
      <p><span class="material-symbols-outlined icon-red">radio_button_checked</span> Grabaciones de 90 minutos</p>
      <button mat-raised-button color="primary" class="card-button">SOLICITAR DEMO</button>    
    </mat-card-content>
  </mat-card>
</div>
